*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color:white;
}
html{
    font-family: "Open Sans",sans-serif;
}
/*navbar section */
#navbar{
    color:white;
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding:0 0.75rem;
    height:70px;
}
#navbar ul{
    list-style-type: none;
    display: flex;
    align-items: center;
} 
#navbar ul li a{
    padding:0.5rem;
}
 #navbar ul li a:hover{
    background:#336ea2;
    border-radius: 4px;
}
/*home section*/ 
#home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:2rem;
    border-bottom:1px solid grey;
}
#home img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
}
#home .name{
    text-align: center;
}
#home .name h2{
    margin-bottom:0.25rem;
}
#home .name p{
    opacity: 0.6;
    font-style: italic;
}
/* Training */
#training {
    color: white;
    padding: 1rem;
}
#training .items{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#training .items .item{
    width:33%;
    text-align: center;
    padding:0.5rem;
}
#training .items .item:hover{
    color:red;
    opacity: 0.8;
}
/* Contact */
#contact{
    color: white;
    padding:1 rem;
}
#contact .contact-form{
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}
#contact .contact-form ul{
    list-style-type: none;
    display: flex;
    margin-top: 1rem;
    align-self:center;
}
#contact .contact-form ul li a{
    padding: 1rem;
    font-size: 2rem;
} 
#contact .contact-form ul li a:hover{
    opacity: 0.8;
}